<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhy.librararyforfileprovdider">


    <application>
        <provider
            android:name="com.zhy.base.fileprovider.MgFileProvider"
            android:authorities="${applicationId}.android7.mg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mg_file_paths" />
        </provider>
    </application>

</manifest>
